.menu{
	margin-left: 200px;

}
.menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.menu ul li {
	float: left;
	position: relative;
	width: 120px;
}
.menu ul li ul{
	display: none;
}
.menu ul li:hover ul{
	display: block;
}
.menu ul li a{
	text-decoration: none;
	background: #333;
	display:block;
	color:white;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	border-bottom: 2px solid red;
	border-left: 1px solid #595959;
	padding: 5px;
}
.menu ul li ul li a{
	background: #595959;
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid #333;
	font-size: 15px;
}
.menu li a:hover{
		
	background: rgb(248,140,0);
}
.menu ul li ul li a:hover{
	padding: 15px;
}